# Compiled output
/dist
/tmp
/out-tsc

# Dependencies
/node_modules
npm-debug.log
yarn-error.log

# Angular cache
/.angular/cache
.sass-cache/

# Test coverage
/coverage

# IDE
/.vscode/*
!/.vscode/extensions.json
.idea/

# System files
.DS_Store
Thumbs.db
